.container img{
    margin-top:20px;
    height: 300px;
    width: auto;
}
.img_container{
    text-align: center;
}
.success-line{
    margin: 0 auto;
    display: block;
    width: 90%;
    height:5px;
    background:#2ecc71;
}

@media (max-width: 400px) {
    .container img{
        margin-top:20px;
        height: auto;
        width: 100%;
    }
}