*{padding:0;margin:0px;box-sizing: border-box;}
header{
    height:70px;
    width: 100%;

    background-color: #83D6DE;
}
.header_logo{
    height:90%;
    width:auto;  

}
.header_container{
    height: 100%;
    padding:10px;
}